.servicee {
  margin-top: 23rem;
  margin-bottom: 160px;
  z-index: 0;
  .service_ {
    .service_row {
      position: relative;

      .div_image {
        .service_image {
          width: 1076px;
          height: 682.518px;
          flex-shrink: 0;
        }
      }
    }
  }
}
