header {


    .TopHeader {
        h1 {
            text-align: center;
            font-weight: 700;
            font-size: 65px;
            padding-top: 110px;
        }

        p {
            font-size: 18px;
            font-weight: 500;
            text-align: center;
            padding-top: 40px;
            padding-bottom: 45px;
        }
    }
}

.div_hr {
    display: flex;
    gap: 35px;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 50px;

    .TeamsHr {
        height: 1px;
        width: 607px;
    }
}

.TopSection {

    h1 {
        font-size: 36px;
        font-weight: 600;
    }

    p {
        color: rgba(156, 156, 156, 1);
        padding-top: 24px;
        padding-bottom: 80px;
    }
}

.div_card {


    .card_row {

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        padding-bottom: 115px;

        .card_image {
            width: 282px;
            height: 400px;
            background-color: rgba(44, 56, 120, 1);
        }

        .names {
            width: 250px;
            height: 80px;
            position: absolute;
            background-color: white;
            margin: -95px 16px;

            h1{
                color: black;
            }

            p{
                color: rgba(156, 156, 156, 1);
            }
        }


    }
}

.service_cart {

    .service_row {

        display: flex;
        justify-content: space-between;

        .service_div {
            width: 388px;
            height: 295px;
            text-align: center;

            .service_img{
                width: 65px;
                text-align: center;
                margin: 0px 163px 0px 163px;
            }

            h1 {
                padding-top: 20px;
                padding-bottom: 20px;
            }

            p {
                // width: 334px;
                color: rgba(156, 156, 156, 1);
            }

        }
    }
}